<div align="center">
<h2>販売チケット一覧</h2>
</div>

<div class="container">
  <div class="row">


    <% @array.each do |t| %>

        <div class="card col-md-4" >
          <div class="card" style="width: 18rem;">
            <p><%= t['title']['rendered'] %></p>
            <div class="yokonarabi">
              <% t['images'].each do |icon| %>
                <%= image_tag icon, :size=>'40x40' %>
              <% end %>
            </div>

            <%= link_to "詳細", posts_show_path(:id => t['id']), :class => 'btn btn-primary' %>
          </div>
        </div>

    <% end %>

  </div>
</div>
