<div class="row">
  <div class="container-fluid mt-4">
      <div class="row justify-content-center">
          <div class="col-auto mb-3">
              <div class="card bg-light" style="width: 30rem;">
                  <div class="card-body">
                    <%= @result['title']['rendered'].html_safe %>
                    <%= @result['content']['rendered'].html_safe %>
                    <%= link_to '購入', posts_create_path, :class => "btn btn-danger" %>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div><!-- /.row -->
