// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.yokonarabi{
  display: inline-flex;
  border : solid 1px #333;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
}
