<footer class="footer">
  <nav>
    <ul>
      <li><%= mail_to 'customer@slorn.jp', 'お問い合わせ' %></li>
      <li><%= link_to '利用規約', 'https://slorn.jp/terms/', :target => '_blank' %></li>
      <li><%= link_to 'プライバシーポリシー', 'https://slorn.jp/policy/', :target => '_blank' %></li>
      <li><%= link_to '特定商法取引法に関する表示', 'https://slorn.jp/law/', :target => '_blank' %></li>
    </ul>
  </nav>
  <small>
    Copyright&copy 2019 <a href="http://www.tabletjapan.jp/" target="_blank">TABLET JAPAN.inc</a> All Rights Reserved.
  </small>
</footer>
